
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    <header>
        <nav>
            <a href="/Student/getAll">GetAll</a>
            <a href="/Student/create">Create</a>
            <a href="/Student/update">Update</a>
            <a href="/Student/delete">Delete</a>
        </nav>
    </header>
    <main>
        <h1>Update</h1>
    </main>
    <footer>
        <p> Update Footer</p>
    </footer>
</body>
</html>
